:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-synthesis: none;
}

html {
  @apply scroll-pt-20;
}

body {
  background: linear-gradient(
    135deg,
    #1d1d2b 0%,
    #352438 20%,
    #4e334f 40%,
    #51242f 60%,
    #66223d 80%,
    #51242f 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-variable;
}

[data-remove-transitions] * {
  transition: none !important;
}

[data-reach-skip-nav-link]:focus {
  @apply fixed m-3 bg-white/90 text-black backdrop-blur;
  z-index: 2147483647;
}

::selection {
  @apply bg-blue-500 text-white;
}

code ::selection {
  @apply bg-blue-500/20 text-inherit;
}

.not-prose pre {
  @apply overflow-x-auto rounded bg-white p-4 text-[0.9rem] leading-loose;
}

.not-prose :not(pre) > code {
  @apply overflow-x-auto rounded bg-white py-[0.35rem] px-[0.5rem] text-[0.9rem];
}

@media (prefers-color-scheme: dark) {
  .cls-1,
  .cls-2 {
    fill: #9aa0b1 !important;
  }

  ::selection {
    @apply bg-blue-500/30 text-inherit;
  }

  code ::selection {
    @apply bg-blue-500/30;
  }

  .not-prose :not(pre) > code,
  .not-prose pre {
    @apply bg-gray-700;
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light),
  (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}
